<!DOCTYPE html>
<html>
    <head>
    <style>
        body {
            background-color: lightskyblue;
            text-decoration-color: cornflowerblue;
        }
    </style>

      {% if title %}
      <title>{{ title }} - Analogies</title>
      {% else %}
      <title>Welcome to Analogies</title>
      {% endif %}
    </head>
    <body>
        <div>
            Tabs:
            <a href="/">Home</a>
            <a href="/index">About</a>
            <a href="/references">References</a>
            <a href="/brown/word">Find Word Embedding</a>
            <a href="/brown/analogy">Analogy Solver</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>