{% extends "base.html" %}

{% block content %}
<form action="/brown/word" method="POST">
	Type a word: <input name="text">
    <input type="submit">
    {% if output %}
    	Here is the corresponding embedding vector: {{output}}
    {% endif %}
</form>
    <h2> What the hell is a word embedding?</h2>
    In a nutshell, a word embedding is a vector representation of a word that reflects its meaning. <br>
    Words that are related (dolphin, whale, shark, octopus) have embeddings which are close together. <br>
    Embeddings are so powerful that one can even use them to solve analogies <br><br>

    <i>vector("woman")</i> + <i>vector("king")</i> - <i>vector("man")</i> = ~ <i>vector("queen")</i>

{% endblock %}